extends ../../../pug/layout
block metaSize
  meta(name="ad.size", content='width=800,height=300')

block content
  .wrapper
    .nube
      img(src="images/nube.png")
    .nube1
      img(src="images/nube-1.png")
    .avion
      p.k.letter K
      p.e.letter E
      p.v.letter V
      p.i.letter I
      p.n.letter N
      img(src="images/avion.jpg")
    .lenguages
      p Lenguages and Technologies
    .html
      img(src="images/html.png")
    .js
      img(src= "images/js.png")
    .css
      img(src="images/css.png")
    .jquery
      img(src="images/jquery.png")
    .angular
      img(src="images/angular.png")
    .greensock
      img(src="images/greensock.png")
    .gulp
      img(src="images/gulp.jpg")
    .git
      img(src="images/git.png")
    .grunt
      img(src="images/grunt.png")
    .title_contact
      p Contact Me
    .contact
      .left
        p.text1 You can contact me by:
        p.text2 Email: kbatista23@gmail.com
        p.text3 Phone: 7243-8091
      .right
        p You can follow me on:
        a.face(href="https://www.facebook.com/kevin.batis.1") 
          img(src="images/facebook.png")
        a.link(href="https://www.linkedin.com/in/kevinbatistadeveloper")
          img(src="images/linkedin.png")
        a.gith(href="https://www.github.com/KevinBatistaAcuna") 
          img(src="images/github.png")
