extends ../../../pug/layout
block metaSize
  meta(name="ad.size", content='width=800,height=300')

block content
  .wrapper
    .base
      img(src="images/grass.png")
    .name
      h2.name1 INGRID CASTRO
    .rope-left
      img(src="images/rope.png")
    .rope-right
      img(src="images/rope.png")
    img.html(src="images/html.png")
    img.css(src="images/css.png")
    img.js(src="images/js.png")
    img.gulp(src="images/gulp.jpg")
    img.git(src="images/git.png")
    img.grunt(src="images/grunt.png")
    img.jquery(src="images/jquery.png")
    img.greensock(src="images/greensock.png")
    .contact
      h2 You can follow my progress on:
      a.face(href="https://www.facebook.com/ingrid.castro.3597") 
        img(src="images/facebook.png")
      a.link(href="https://cr.linkedin.com/in/ingrideveloper") 
        img(src="images/linkedin.png")
      a.gith(href="https://github.com/IngridCastro") 
        img(src="images/github.png")
    .rope-left1
      img(src="images/rope.png")
    .rope-right1
      img(src="images/rope.png")
